@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,500&display=swap');

:root{
    --pink:red;
}
.more{
    outline: none; 
    border: none;
    width: 40%;
    padding: 10px 15px;
    font-size: 20px;  
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}
.more:hover{
    background: crimson;
    border-radius: 0px;
    color: #fff;
}
.footer{
    background-color: #333;
    width: 100%;
    height: 30em;
    margin-top: 1400px;
    display: block;
}
.footer_1{
    background-color: #333;
    width: 100%;
    height: 30em;
    margin-top: -230px;
    display: block;
}
.footer_2{
    background-color: #333;
    width: 100%;
    height: 30em;
    margin-top: 0px;
    display: block;
}
.footer_3{
    background-color: #333;
    width: 100%;
    height: 450px;
    margin-top:-80px;
    display: block;
}
.form-container_2{
    font-size: 20px;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}
.form-container_2 a{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
    background: #fff;
    text-align: left;
    width: 600px;
    height: 500px;
}
.form-container_2 a h3{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
div.block_1{
    cursor: pointer;
    margin: 2.1% ;
    padding: 20px;
    float: left;
}
div.block_1:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.192);
    box-shadow: 0 5px 10px rgb(0 0 0 / 55%);
    border-radius: 20px;
}
.search_input_1{
    outline: none; 
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.search_input_1:hover{
    border-radius: 0px;
    padding-bottom: 10px;
    color:white;
    cursor: pointer;
    background-color:crimson;
    width: 100%;
    height: 50px;
}
.form-container_1{
    font-size: 30px;
}
.my_tic_detail{
    font-size: 19px;
}  
  .topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }
  .topnav .search-container button {
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .topnav .search-container button:hover {
    background: #ccc;
  }
*{
    font-family: 'Nunito',sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
}
.container{
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form input,
.form-container form select{
    outline: none; 
    border: none;
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;  
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}
.form-container form select option{
    background: #fff;
}
.form-container form .form-btn{
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: crimson;
    border-radius: 0px;
    color: #fff;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}
.form-container form p a{
    color: crimson;
}
.form-container form p a{
    color: crimson;
}
.form-container form .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;  
    padding: 10px;  
}
.home{
    background: #eee;
    margin-bottom: 220px;
}

*::selection{
    background:var(--pink);
    color:aliceblue;

}
html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 120px;
}
.h1_div{
    margin-top: -40px;
}
.h1_div{
    color: black;
    cursor: pointer;
    font-size: 38px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    animation-name: animation_1;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;  
}
@keyframes animation_1{
    25%   {background-color:transparent; left:0px; top:0px;color: crimson;}
    0%  {background-color: transparent; left:2600px; top:0px;color: crimson;}
}
.h1{
    font-weight:0;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
    background: #fff;
    text-align: center;
} 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .2s;
    padding: 0px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
header{
    position: fixed;
    top:0; left: 0;right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header  .logo{
    position: fixed;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    margin-left: -90px;
}
header .logo span{
    color:var(--pink);
}
header .navbar a{
    cursor: pointer;
    color:#fff;
    font-size: 2.2rem;
    margin: 0 .3rem;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    transition: all .1s linear;
}
header .navbar a:hover{
    background-color: Crimson;
    color:white;
}
.nav_myticket{
    cursor: pointer;
    color:#fff;
    font-size: 2.2rem;
    margin: 0 .3rem;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    transition: all .1s linear;
}
.nav_regis{
    background-color: rgba(169, 169, 169, 0.425);
}
.nav_regis:hover{
    background-color: rgba(169, 169, 169, 0.425);
}
.nav_regis_username{
    background-color: rgba(169, 169, 169, 0.425);
}
.nav_regis_username:hover{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    background-color: rgba(169, 169, 169, 0.425);
}
.nav_regis_logout{
    background-color: crimson;
}
.nav_regis_logout:hover{
    background-color: red;
    border-radius: 0px;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.card_selection{
    margin-top:0px;
}
.box_1_num{
    font-size: 15px;
}
.poster_1{
    width: 300px;
    height: 450px;
}
.poster_2{
    margin-left: 150px;
    width: 300px;
    height: 450px;
}
.box_2{
    margin-left: 310px;
    margin-top: -640px;
}
.box_3{
    margin-left: 780px;
    margin-top: -640px;
}
.box_4{
    margin-left: 1250px;
    margin-top: -640px;
}
.box_1_title{
    padding-top: 20px;
    font-size: 0px;
}
.box_2_title{
    margin-top: 10px;
    margin-left: 150px;
    font-size: 30px;
}
.box_3_title{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 30px;
}
.box_4_title{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 30px;
}
.box_1_date{
    margin-top: 10px;
}
.box_2_date{
    margin-top: 10px;
    margin-left: 150px;
}
.box_3_date{
    margin-left: 150px;
    margin-top: 10px;
}
.box_4_date{
    margin-left: 150px;
    margin-top: 10px;
}
.box_1_time{
    margin-top: 10px;
}
.box_2_time{
    margin-top: 10px;
    margin-left: 150px;
}
.box_3_time{
    margin-left: 150px;
    margin-top: 10px;
}
.box_4_time{
    margin-left: 150px;
    margin-top: 10px;
}

.box_1_buttuon{
    outline: none; 
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_1_buttuon:hover{
    border-radius: 0px;
    font-size: 30px;
    color:white;
    cursor: pointer;
    background-color:crimson ;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_1_buttuon_notlogin{
    outline: none; 
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_1_buttuon_notlogin:hover{
    border-radius: 0px;
    font-size: 30px;
    color:white;
    cursor: pointer;
    background-color:crimson ;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_2_buttuon{
    margin-left: 155px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_2_buttuon:hover{
    border-radius: 0px;
    font-size: 30px;
    color:white;
    cursor: pointer;
    background-color:crimson ;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_3_buttuon{
    margin-left: 155px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_3_buttuon:hover{
    border-radius: 0px;
    font-size: 30px;
    color:white;
    cursor: pointer;
    background-color:crimson;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_4_buttuon{
    margin-left: 155px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c2cecd;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.box_4_buttuon:hover{
    border-radius: 0px;
    font-size: 30px;
    color:white;
    cursor: pointer;
    background-color:crimson;
    width: 295px;
    height: 50px;
    margin-top: 20px;
}
.form_error span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size:17px;
    color: #d83d5a;
}
.form_error input {
    border: 2px solid #d83d5a;
} 
.form_success span {
    width: 80%;
    height: 35px;
    margin: 3px 10%;
    font-size: 17px;
    color: green;
}
.form_success input {
    border: 2px solid green;
}
#error_msg {
    color: red;
    text-align: center;
    margin: 10px auto;
}
div.user{
    color:#fff;
    font-size: 2.2rem;
    margin: 0 .3rem;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    transition: all .1s linear;
}
.line_1{
    margin-left: 0px;
}
.welcome_1{
    font-size: 40px;
    text-align: center;
}
.username_1{
    color: white;
    cursor: pointer;
    color:#fff;
    font-size: 38px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    background-color: crimson;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;  
}
@keyframes animation{
    25%   {background-color:crimson; left:0px; top:0px;}
    0%  {background-color: rgba(169, 169, 169, 0.425); left:900px; top:0px;}
}
.slideshow_1{
    background-color: rgba(211, 211, 211, 0.199);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    animation-name: animation_2;
    border-radius: 40px;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
    animation-direction: alternate;  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
}
@keyframes animation_2{
    25%   {background-color:transparent; left:0px; top:0px;color: white;}
    0%  {background-color:transparent;left:-2600px; top:0px;color: white;}
}
.slideshow_2{
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.199);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
}

