@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,500&display=swap');

:root{
    --pink:#ff52f6;
}
a.trash_1{
    font-size: 20px;
}
a.trash_1:hover{
    color: red;
    font-size:20px;
    text-decoration-line: underline;
}
.trash_2{
    width:25px;
    height:30px;
    margin-bottom:-6px;
    margin-right:-25px;
}
.trash_2:hover{
    background-image: url(../pic/trash2.jpg);
    width:25px;height:30px;margin-bottom:-8px;margin-right:-20px;
}
*{
    font-family: 'Nunito',sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize; 
    text-decoration: none;
    transition: all .2s linear;
    padding: 4px;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
    width: 500px;
}
.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form-container form input,
.form-container form select{
    width: 50%;
    padding: 10px 15px;
    font-size: 20px;  
    margin: 15px 0;
    background: #eee;
    border-radius: 5px;
}
.input1:hover{
    border:2px solid red;
    background-color: rgba(243, 158, 158, 0.993);
    box-sizing: border-box;
    border-radius: 7px;
}
.input2{
    font-size: 30px;
    margin-top: 16px;
    margin-left: -260px;
}
.button2{
    transition: all .1s linear;
    background-color: #cbd4d4dc;
    border: 1px solid #cbd4d4dc;
    border-radius: 3px;
}
.button2:hover{
    text-decoration: underline;
    transition: all .1s linear;
    background-color: #c2cecd;
    border-radius: 3px;
    border: 1px solid #c2cecd ;
}
.input3{
    margin-left: 345px;
    margin-top: -52px;
}
.button3{
    border: 2px solid red;
    background-color:  red;
    border-radius: 6px;
}
.button3:hover{
    text-decoration: underline;
    transition: all .1s linear;
    background-color:  crimson;
    border-radius: 6px;
    border: 2px solid crimson;
}
.form-container form select option{
    background: #fff;
}
.form-container form .form-btn{
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: crimson;
    border-radius: 0px;
    color: #fff;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}
.form-container form p a{
    color: crimson;
}
.form-container form p a{
    color: crimson;
}
.form-container form .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;  
    padding: 10px;  
}